
body {
  margin: 0 auto;
  padding: 0 auto;
}
#root {
  margin: 0 auto;
  padding: 0;
}
.user-page__content,
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: -webkit-gradient(
    linear,
    left bottom, right top,
    from(rgb(101, 115, 255)),
    color-stop(rgb(122, 113, 238)),
    color-stop(rgb(143, 112, 220)),
    color-stop(rgb(164, 110, 203)),
    color-stop(rgb(185, 109, 185)),
    color-stop(rgb(206, 107, 168)),
    color-stop(rgb(196, 113, 164)),
    color-stop(rgb(185, 119, 160)),
    color-stop(rgb(175, 125, 156)),
    color-stop(rgb(164, 131, 151)),
    color-stop(rgb(154, 137, 147)),
    to(rgb(143, 143, 143))
  );
  background-image: -o-linear-gradient(
    bottom left,
    rgb(101, 115, 255),
    rgb(122, 113, 238),
    rgb(143, 112, 220),
    rgb(164, 110, 203),
    rgb(185, 109, 185),
    rgb(206, 107, 168),
    rgb(196, 113, 164),
    rgb(185, 119, 160),
    rgb(175, 125, 156),
    rgb(164, 131, 151),
    rgb(154, 137, 147),
    rgb(143, 143, 143)
  );
  background-image: linear-gradient(
    to top right,
    rgb(101, 115, 255),
    rgb(122, 113, 238),
    rgb(143, 112, 220),
    rgb(164, 110, 203),
    rgb(185, 109, 185),
    rgb(206, 107, 168),
    rgb(196, 113, 164),
    rgb(185, 119, 160),
    rgb(175, 125, 156),
    rgb(164, 131, 151),
    rgb(154, 137, 147),
    rgb(143, 143, 143)
  );
  padding: 0;

  padding-top: 20px;
  padding-bottom: 20px;

  background-size: cover;
}
.sign-in__form,
.terminals--board,
.buyers-board {
  border-radius: 10px;
  width: 800px;
  min-height: 100%;
  padding: 30px;
  background: rgb(248, 202, 231);
  -webkit-box-shadow: 0px 10px 20px black;
          box-shadow: 0px 10px 20px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sign-in__title {
  font-family: "Oxygen", sans-serif;
}
.sign-in__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
.sign-in__label {
  font-size: small;
  font-family: "Oxygen", sans-serif;
  text-align: center;
}
.sign-in__input,
.search-by-name,
.input-name,
.input-description {
  font-size: 1.3em;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
}
.search-by-name {
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}
.input-name,
.input-description {
  margin-top: 30px;
  height: 30px;
  width: 150px;
  margin-right: 20px;
  margin-left: 20px;
}
.sign-in__btn {
  font-family: "Oxygen", sans-serif;
  width: 300px;
  height: 40px;
  text-align: center;
  outline: none;
  border: none;
  background-color: violet;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
}
.sign-in__btn:hover {
  width: 770px;
  height: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.delete-btn,
.save-btn {
  height: 30px;
  width: 80px;
  z-index: 10000;
  font-family: "Oxygen", sans-serif;
  text-align: center;
  outline: none;
  border: none;
  background-color: violet;
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  cursor: pointer;
}
.save-btn {
  margin-top: 20px;
}
.delete-btn {
  margin-right: -70px;
}
.delete-btn:hover,
.save-btn:hover {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.delete-btn {
  background-color: black;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: relative;
  background-color: rgb(206, 107, 168);
  border-radius: 0 20px 20px 0;
  width: 200px;
  height: 90vh;
  -webkit-box-shadow: 0px 10px 20px black;
          box-shadow: 0px 10px 20px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-avatar {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-terminal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.terminals--link,
.buyers--link {
  cursor:pointer;
  font-family: "Oxygen", sans-serif;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.terminals--link:hover,
.buyers--link:hover {

  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
 
  text-decoration: none;
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buyer--check-title,
.buyer--capacity-title,
.buyer--total-title,
.pagination-change--item,
.pagination--link {
  cursor: pointer;
  list-style: none;
}
.buyer--check-title:hover,
.buyer--capacity-title:hover,
.buyer--total-title:hover {
  color: gray !important;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.pagination--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination-change--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.pagination--text {
  margin-right: -30px;
}
.pagination-change--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
}
.pagination-change--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.pagination-change--item:hover {
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pagination--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.pagination--link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.pagination--link {
  margin-left: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}
.pagination--link:hover {
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.buyer-item {
  text-align: center;
}
.pagination--title {
  font-size: large;
}

@media (max-width: 900px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sidebar {
    position: relative;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: -220px;
  }
  .terminals--link,
  .buyers--link {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    margin-top: 60px;
  }
  .user-avatar {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}